<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
        Android 14+ requires foregroundServiceType to be declared.
        WorkManager's SystemForegroundService uses dataSync by default.
        This override merges the type into the service declaration from WorkManager's AAR.
    -->
    <application>
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />
    </application>

</manifest>
